{% if position == 'position-5' %}
	<h2 class="txt-pr">
		{{ art.title }}
	</h2>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<p>
				{{ art.content|raw }}
				<a href="{{ art.href }}" class="btn-link l-h1 fa-angle-right"></a>
			</p>
		</div>
	</div>

{% else %}
	{{ art.img.imgContentNotatka|raw }}
    {{ art.content |raw}}
{% endif %}
